body {
    background-color: #A9D3FF;
  }
  .page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #F2F4FF;
    border-radius: 5px;
  }

  h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
  }

  h4 #sub {
      font-size: 9px;
  }

  footer {
      font-size: 11px;
  }